.home-video-banner
{
  /* position: absolute; */
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.home-video-banner.active
{
  right: 300px;
}

.home-video-banner .banner-vid
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.home-video-banner .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.banner-text
{
  position: relative;
  z-index: 10;
}
.banner-text .banner-title
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.banner-text .banner-subtitle
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.banner-text .banner-info
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.banner-text .banner-btn
{
  letter-spacing: 2px;
}
.banner-social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-social li
{
  list-style: none;
}
.banner-social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.banner-social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

.learn-more-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 70px;
}

.home-sec3 .overlay {
    background-color: rgba(1, 30, 9, 0.68);
}

@media (max-width: 991px)
{
  .home-video-banner
  {
    padding: 40px;
  }
  .banner-text .banner-title
  {
    font-size: 3em;
  }
  .banner-text .banner-subtitle
  {
    font-size: 2em;
  }
}

@media (max-width: 579px)
{
  .banner-text .banner-title
  {
    font-size: 2em;
  }
  .banner-text .banner-subtitle
  {
    font-size: 1.5em;
  }
  .banner-text .banner-info {
    font-size: 0.875em;
  }
}


/* Reset CSS */
.home-grid-wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.home-grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* border-radius: 5px; */
}

.home-grid-wrapper {
	display: grid;
	/* grid-gap: 10px; */
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 300px;
	grid-auto-flow: dense;
}
.home-grid-wrapper .wide {
	grid-column: span 2;
}
.home-grid-wrapper .wide-3 {
	grid-column: span 3;
}
.home-grid-wrapper .tall {
	grid-row: span 2;
}
.home-grid-wrapper .tall-3 {
	grid-row: span 3;
}
.home-grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
.home-grid-wrapper .grid-1,
.home-grid-wrapper .grid-5 {
    position: relative;
}
.home-grid-wrapper .grid-5 {
    padding: 300px 100px 100px;
}
.home-grid-wrapper .grid-1 .blockquote-start {
    padding-top: 70px;
    font-size: 30px;
}
.home-grid-wrapper .grid-5 .blockquote-end {
    position: absolute; 
    top: 100px; 
    left: -330px;
    font-size: 4.5rem;
}
.home-grid-wrapper .grid-5 .blockquote-end .grid-span {
    margin-left: 100px;
}
.home-grid-wrapper .grid-1 .blockquote-start::before,
.home-grid-wrapper .grid-5 .blockquote-end::after {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
	color: rgba(81, 141, 62, 0.50);
	font-size: 13rem;
}
.home-grid-wrapper .grid-1 .blockquote-start::before {
	content: '“';
    left: 4rem;
	top: 0rem;
}
.home-grid-wrapper .grid-5 .blockquote-end::after {
	content: '”';
    right: 2rem;
    top: -3rem;
}

@media screen and (max-width: 1259px) {
    .home-grid-wrapper .grid-1 {
        grid-column: span 1;
    }
    .home-grid-wrapper .grid-4 {
        grid-column: span 2;
    }
}

@media (min-width: 1010px) and (max-width: 1259px)  {
    .home-grid-wrapper .grid-1 .blockquote-start {
        font-size: 25px;
    }
}

@media screen and (max-width: 1009px)  {
    .home-grid-wrapper .grid-5 .blockquote-end {
        left: auto;
    }
}